@{
    ViewBag.Title = "Estadísticas en Demandas - Envío de mails";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    @using( Html.BeginForm( "ConfirmEmails", "AdminOfferHits" ) )
    {
        <div class="form-group" style="text-align:right">
            <input type="hidden" class="form-control" id="FromDate" name="FromDate" value="@ViewBag.FromDate">
            <input type="hidden" class="form-control" id="ToDate" name="ToDate" value="@ViewBag.ToDate">
            <a href="@Url.Action( "Index" )"><button type="button" class="btn btn-default">Volver</button></a>
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>
    }
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Se enviará un mail personalizado a cada empresa listada debajo.</h4>
            FromDate <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( var c in ViewBag.CompaniesStats )
                        {
                            <tr>
                                <td>@c.CompanyName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Historial de envío de mails.</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Período</th>
                            <th>Fecha de Envío</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( var c in ViewBag.MailRecords )
                        {
                            <tr>
                                <td>@String.Format( "{0}~{1}", c.FromDate.ToShortDateString(), c.ToDate.ToShortDateString() )</td>
                                <td>@String.Format( "{0}", c.TimeStamp.ToString() )</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>