@model App.Models.Survey.QuestionViewModel
@{
    var required = Model.Required ? "required" : "";
    var name = "surveyCompletionDTOs[" + Model.Identifier + "].Answers";
    var chosenAnswer = Model.ChosenAnswers.FirstOrDefault();
}
<div class="form-group">
    <label class="col-md-10 control-label text-left-important">@Model.Question</label>
    <div class="btn-group col-md-10 control-label">
        <table class="table table-hover">
            @foreach (var answer in Model.Answers)
            {
                <tr>
                    <td>
                        @if (chosenAnswer != null)
                        {
                            if (chosenAnswer.Answer == answer.Answer)
                            {
                                <input type="radio" name="@name" value="@answer.Id" @required checked>
                            }
                            else
                            {
                                <input type="radio" name="@name" value="@answer.Id" @required>
                            }
                        }
                        else
                        {
                            <input type="radio" name="@name" value="@answer.Id" @required>
                        }
                    </td>
                    <td style="text-align: left;">@answer.Answer</td>
                </tr>
            }
        </table>
    </div>
    <div style="display: inline-flex;">
        @Html.ValidationMessage((string)name, "Campo requerido")
    </div>
</div>