@model App.Models.ForgotViewModel

@{
    ViewBag.Title = "Resetear Contraseña";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-4 col-md-offset-4 alert alert-show" >
        <h4 class="title-type">Mail para resetear contraseña</h4>

        <section id="loginForm">
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label text-left-important" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                </div>

                <div class="form-group">
                    <div class="col-md-offset-0 col-md-4">
                        <input type="submit" name="CheckVendor" class="btn btn-primary" value="Continuar" />
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}