@model App.Models.Survey.SurveyViewModel
@{
    ViewBag.Title = "Registrar Producto";
}

<form action="Evaluation/Save" method="post" class="form-horizontal" role="form">
    <div class="container sat-spacing">
        <div class="row">
            <div class="sat-titlesOpening col-xs-12">
                <h2>@ViewBag.Title</h2>
                <h4 class="title-type">Ingreso de datos</h4>
            </div>
            <ol class="breadcrumb sat-breadcrumb" style="background-color: white;">
                <li>Rubro</li>
                <li class="active">Registro</li>
                <li>Fin</li>
            </ol>
        </div>
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.CategoryId)
        @Html.HiddenFor(x => x.SurveyCompletionId)

        <div class="container sat-RegistroSurvey">
            <div>
                @ViewBag.Validations
            </div>
            <div class="row sat-Ds" style="background-color:#ffffff">
                <ul class="nav nav-tabs sat-hide">
                    <li class="active" data-toggle="tab">1. Datos del Producto/Servicio</li>
                    <li data-toggle="tab">2. Datos del contacto del Producto/Servicio</li>
                    <li data-toggle="tab">3. Cuestionario sobre el Producto/Servicio</li>
                </ul>
                <div class="tab-content container">

                    <!-- Tab Home -->
                    <div id="home" class="tab-pane fade in active">
                        <div class="row nav-RegistroFalse">
                            <div class="col-md-12 text-center">
                                <h4>Paso 1 de 3</h4>
                                <p>Datos del Producto/Servicio</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductName, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductDescription, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(m => m.ProductDescription, new { @class = "form-control", @rows = 3 })
                                        @Html.ValidationMessageFor(m => m.ProductDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductWebSite, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductWebSite, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductWebSite, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductVersion, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductVersion, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductVersion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="sat-btn pull-right" href="#menu1" data-toggle="tab">Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Tab Home -->
                    <!-- Tab Menu 1 -->
                    <div id="menu1" class="tab-pane fade">
                        <div class="row nav-RegistroFalse">
                            <div class="col-md-12 text-center">
                                <h4>Paso 2 de 3</h4>
                                <p>Contacto del Producto/Servicio</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductContactFullName, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductContactFullName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductContactFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductContactPosition, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductContactPosition, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductContactPosition, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductContactPhone, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductContactPhone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductContactPhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProductContactEmail, new { @class = "col-md-4 control-label text-left-important" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ProductContactEmail, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ProductContactEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="sat-btn pull-left" href="#home" data-toggle="tab">Atrás</a>
                                <a class="sat-btn pull-right" href="#menu2" data-toggle="tab">Siguiente</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Tab Menu 1 -->
                    <!-- Tab Menu 2 -->
                    <div id="menu2" class="tab-pane fade">
                        <div class="row nav-RegistroFalse">
                            <div class="col-md-12 text-center">
                                <h4>Paso 3 de 3</h4>
                                <p>Cuestionario sobre el Producto/Servicio</p>
                            </div>
                        </div>
                        <div class="row">
                            @{int i = 0; int j = 0; }
                            @foreach (var survey in Model.SurveyDTOs)
                            {
                                <div class="col-md-offset-4 col-md-4 alert alert-maker">
                                    <h4>@survey.CategoryName</h4>
                                    <input type="hidden" name="SurveyDTOs[@j].SurveyId" value="@survey.SurveyId">
                                    <input type="hidden" name="SurveyDTOs[@j].CategoryId" value="@survey.CategoryId">
                                    @foreach (var question in survey.SurveyQuestionDTOs)
                                    {
                                        if (!question.Old)
                                        {
                                            <input type="hidden" name="surveyCompletionDTOs[@i].QuestionId" value="@question.QuestionId">
                                            <input type="hidden" name="surveyCompletionDTOs[@i].Question" value="@question.Question">
                                            <input type="hidden" name="surveyCompletionDTOs[@i].SurveyId" value="@survey.SurveyId">
                                            Html.RenderAction("Question", "OfertaSurvey", new { id = question.QuestionId, identifier = i, surveyCompletionId = Model.SurveyCompletionId, @class = "col-lg-12" });

                                            i++;
                                        }
                                    }
                                </div>
                                <div class="col-md-12 col-lg-12 pull-left"></div>

                                j++;

                            }
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a class="sat-btn pull-left" href="#menu1" data-toggle="tab">Atrás</a>
                            </div>
                        </div>

                        <div class="form-group row text-right">
                            <div class="col-md-12">
                                <input type="checkbox" id="termsAndConditions" name="termsAndConditions" required>
                                <label>Acepto los <a data-toggle="modal" data-target="#termsModal">t&eacute;rminos y condiciones.</a></label>
                                <br />
                                @Html.ValidationMessage("termsAndConditions", "Campo requerido", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary submit-button" name="action:Save" value="Finalizar" />
                            </div>
                        </div>
                    </div>
                    <!-- End Tab Menu 2 -->
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Terms and conditions modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Términos y Condiciones</h3>
            </div>

            <div class="modal-body">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/terms.html")))
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="agreeButton" data-dismiss="modal" onclick="acceptTermsAndConditions();">Acepto</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function acceptTermsAndConditions() {
            $("#termsAndConditions").prop('checked', false);
            $("#termsAndConditions").prop('checked', true);
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}